/**
 * Direction-specific styles for admin panel
 * Supports both RTL (Arabic) and LTR (English) modes
 */

/* Login panel layout */
[dir="rtl"] .login-panel {
  flex-direction: row-reverse;
}

[dir="ltr"] .login-panel {
  flex-direction: row;
}

/* Input icon positioning */
[dir="rtl"] .input-with-icon i:not(.fa-eye):not(.fa-eye-slash) {
  right: 15px;
  left: auto;
}

[dir="ltr"] .input-with-icon i:not(.fa-eye):not(.fa-eye-slash) {
  left: 15px;
  right: auto;
}

/* Input padding adjustments */
[dir="rtl"] .input-with-icon input {
  padding-right: 45px;
  padding-left: 15px;
}

[dir="ltr"] .input-with-icon input {
  padding-left: 45px;
  padding-right: 15px;
}

/* Password toggle icon positioning - consistent for both eye and eye-slash */
[dir="rtl"] .toggle-password {
  left: 15px;
  right: auto;
  width: 20px;
  text-align: center;
}

[dir="ltr"] .toggle-password {
  right: 15px;
  left: auto;
  width: 20px;
  text-align: center;
}

/* Make sure eye and eye-slash icons have the same width and position */
.toggle-password i.fa-eye,
.toggle-password i.fa-eye-slash {
  width: 20px;
  text-align: center;
  position: relative;
  top: 8px;
}

/* Language switcher positioning */
[dir="rtl"] .language-switcher {
  left: 20px;
  right: auto;
}

[dir="ltr"] .language-switcher {
  right: 20px;
  left: auto;
}

/* Theme toggle positioning */
[dir="rtl"] .theme-toggle {
  right: 20px;
  left: auto;
}

[dir="ltr"] .theme-toggle {
  left: 20px;
  right: auto;
}

/* Back button icon margin */
[dir="rtl"] .back-link i.fas.fa-arrow-right {
  margin-left: 8px;
  margin-right: 0;
}

[dir="ltr"] .back-link i.fas.fa-arrow-right {
  margin-right: 8px;
  margin-left: 0;
}

/* Login features alignment */
[dir="rtl"] .login-feature {
  text-align: right;
  flex-direction: row-reverse;
}

[dir="ltr"] .login-feature {
  text-align: left;
  flex-direction: row;
}

/* Login feature icon spacing */
[dir="rtl"] .login-feature i {
  margin-right: 0;
  margin-left: 10px;
}

[dir="ltr"] .login-feature i {
  margin-left: 0;
  margin-right: 10px;
}

/* Error message icon spacing */
[dir="rtl"] .error-message i {
  margin-right: 0;
  margin-left: 8px;
}

[dir="ltr"] .error-message i {
  margin-left: 0;
  margin-right: 8px;
}

/* Login form alignment */
[dir="rtl"] .login-form {
  text-align: right;
}

[dir="ltr"] .login-form {
  text-align: left;
}

/* Form group label alignment */
[dir="rtl"] .form-group label {
  text-align: right;
}

[dir="ltr"] .form-group label {
  text-align: left;
}

/* Remember me checkbox alignment */
[dir="rtl"] .remember-me {
  text-align: right;
}

[dir="ltr"] .remember-me {
  text-align: left;
}

/* Login button icon spacing */
[dir="rtl"] .login-button i {
  margin-right: 0;
  margin-left: 8px;
}

[dir="ltr"] .login-button i {
  margin-left: 0;
  margin-right: 8px;
}

/* Server status alignment */
[dir="rtl"] .server-status {
  text-align: right;
}

[dir="ltr"] .server-status {
  text-align: left;
}

/* Login image content alignment */
[dir="rtl"] .login-image-content {
  text-align: right;
}

[dir="ltr"] .login-image-content {
  text-align: left;
}
